* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', monospace;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 10rem;
  color: #452d7e;
}

.circle {
  background: linear-gradient(45deg, #dde664, #e5b091);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.prev-ans {
  display: flex;
  margin: 0 1rem;
  padding-top: 2rem;
  font-size: 2rem;
  color: #452d7e;
  transition: all 1s ease-in-out;
}

.txt {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #452d7e;
  animation: fade 0.5s linear;
}

.msg p {
  display: flex;
  margin: 0 1rem;
  padding-top: 2rem;
  font-size: 2rem;
  color: #452d7e;
}

@keyframes fade {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

@media screen and (max-width: 768px) {
  .prev-ans {
    font-size: 1.1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
}
